<mat-toolbar color="primary">

  <span>
    🚗 Falcon AI Vehicle Inspection
  </span>

  <span class="toolbar-spacer"></span>

  <button
    mat-icon-button
    type="button">

    <mat-icon>
      notifications
    </mat-icon>

  </button>

  <button
    mat-icon-button
    type="button">

    <mat-icon>
      account_circle
    </mat-icon>

  </button>

</mat-toolbar>


<mat-sidenav-container class="container">

  <mat-sidenav
    mode="side"
    opened>

    <mat-nav-list>


      <button
        mat-list-item
        type="button"
        (click)="navigate('/')">

        <mat-icon matListItemIcon>
          dashboard
        </mat-icon>

        <span matListItemTitle>
          Dashboard
        </span>

      </button>


      <button
        mat-list-item
        type="button"
        (click)="navigate('/new-inspection')">

        <mat-icon matListItemIcon>
          directions_car
        </mat-icon>

        <span matListItemTitle>
          New Inspection
        </span>

      </button>


      <button
        mat-list-item
        type="button"
        (click)="navigate('/history')">

        <mat-icon matListItemIcon>
          history
        </mat-icon>

        <span matListItemTitle>
          History
        </span>

      </button>


      <button
        mat-list-item
        type="button"
        (click)="navigate('/reports')">

        <mat-icon matListItemIcon>
          description
        </mat-icon>

        <span matListItemTitle>
          Reports
        </span>

      </button>


      <button
        mat-list-item
        type="button"
        (click)="navigate('/settings')">

        <mat-icon matListItemIcon>
          settings
        </mat-icon>

        <span matListItemTitle>
          Settings
        </span>

      </button>


    </mat-nav-list>

  </mat-sidenav>


  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>